.main {
  display: flex;
  gap: 10px;
  flex: 1;
}


.body {
  width: 80%;
  flex-direction: column;
  display: flex;
  gap: 10px;
  padding: 20px;
  flex: 1;
}

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }

  .body {
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.numericCards {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.graphs {
  display: flex;
  gap: 10px;
}

.graphCards {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 70%;
}

.columnCards {
  width: 30%;
}

@media screen and (max-width: 1200px) {
  .graphs {
    flex-direction: column;
  }

  .graphCards,
  .columnCards {
    width: 100%;
  }
}