@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  background: var(--chakra-colors-card-background);
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--chakra-colors-border-color);
  align-items: flex-start;
  justify-content: space-between;
  transition: .6s ease-in-out;
  animation: fadeIn .6s ease-in-out;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: var(--chakra-colors-description-color);
  text-align: left;
}

.number {
  font-size: 32px;
  font-weight: 700;
  color: var(--chakra-colors-title-color);
}