.card {
  background: var(--color-white);
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--color-gray);
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 20px;
  color: var(--color-black)
}

.chart {
  margin-top: 20px;
  height: 300px;
  width: 100%;
}