@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  background: var(--chakra-colors-card-background);
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--chakra-colors-border-color);
  align-items: center;
  animation: fadeIn .7s ease-in-out;
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  align-self: flex-start;
  color: var(--chakra-colors-title-color)
}

.chart {
  margin-top: 20px;
  width: 100%;
  height: 300px;
}