.tooltip {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin: 0 10px;
}

.tooltip:hover .description {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.description {
  transform: translateY(10px);
  bottom: 25px;
  width: 100px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: .3s ease-in-out;
  position: absolute;
  background: var(--chakra-colors-tooltip-background);
  font-size: 10px;
  padding: 6px;
  border-radius: 2px;
  color: var(--chakra-colors-tooltip-color);
  ;
}