@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --main-background: linear;
  --card-background: linear-gradient(180deg, #020202, #000000);
  --border-color: #1a1a1a;
  --description-color: rgb(142, 142, 142);
  --title-color: white;
  --button-background: rgb(30, 30, 30);
}

body {
  font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #020202, #000000);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}